body {
  background-color: red;
}
.medium {
 height: 400px;
 width: 250px;
}
.darken {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(shrekt.jpg);
}
